version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: xxxdongxxx-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpassword
      POSTGRES_DB: xxxdongxxx_db
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data: